    <!DOCTYPE html>
	<html lang="zh-CN">
   <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js">
    </script>
    <script  src="javascripts/1.js">
    </script>
    <div class="colorful">
         tab1<img src="/images/1.jpg">
    </div>
    <button type="button" id="btn">toggle</button>
    </html>