<!DOCTYPE html>
<html>
  <head>

  	<meta http-equiv="Content-Type" content="text/html;  charset=UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
       <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" target="_blank" href="http://www.the5fire.net">myblog</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">
                            <a href="http://www.the5fire.net/about" target="_blank">关于the5fire</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="jumbotron subhead" id="overview">
            <h1>欢迎来到jilingchen的First homework</h1>
            <p class="lead">使用Bootstrap构建</p>
           <!-- <div class="subnav">
                <ul class="nav nav-pills">
                   <a class="btn btn-primary btn-large" href="/">首页</a>
                 <a class="btn btn-primary btn-large" href="/login">登入</a>
                 <a class="btn  btn-primary btn-large" href="/reg">立即注册</a>
                
        
                </ul>
            </div>-->
            </header>

            <section id="typography">

            <!-- Headings & Paragraph Copy -->
            <div class="row">
                <div class="span4">
                    <h3><a href="/v1">v1</a></h3>
                    <ul>
                        <li>输出hello</li>
 
                    </ul>
                </div>
                <div class="span4">
                    <h3><a href="/v2">v2</a></h3>
                    <ul>
                        <li>输出<pre><div>hello</div></pre></li>
                    </ul>
                </div>
                <div class="span4">
                    <h3><a href="/v3">v3</a></h3>
                    <ul>
                        <li>引用css</li>
                        <li>引用js</li>
                    </ul>
                </div>
                <div class="span4">
                    <h3><a href="/v4">v4</a></h3>
                    <ul>
                        <li>从数据库里读取数据，可以利用v6增加数据项</li>
                    </ul>
                </div>
                <div class="span4">
                    <h3><a href="/v5?q=youjia">v5</a></h3>
                    <ul>
                        <li>获取http参数 v5?q=？</li>
                    </ul>
                </div>
                <div class="span4">
                    <h3><a href="/v6">v6</a></h3>
                    <ul>
                        <li>表单，包括了userid和password两项</li>
                    </ul>
                </div>

            </div>
            </section>
        </div>

        <div class="container">
            <footer class="footer">
            <p class="pull-right"><a href="#">返回顶部</a></p>
            <p>网站地图</p>
            <p>版权声明： <a href="http://creativecommons.org/licenses/by/3.0/">CC BY JLC</a>.</p>
            </footer>
        </div>
    </body>
</html>